<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.yunli.YLClient1410</key>
	<dict>
		<key>baiduMapKey</key>
		<string>QXwGRyrdFBYH02W30G1mSNldAsfUzth0</string>
		<key>cid</key>
		<string>1410</string>
		<key>loginBg</key>
		<string>default1410</string>
	</dict>
	<key>com.yunli.YLClient1390</key>
	<dict>
		<key>loginBg</key>
		<string>default1390</string>
		<key>cid</key>
		<string>1390</string>
		<key>baiduMapKey</key>
		<string>qQ9BGsGCsYGRi9lquqMtp9jtB5qMWxt5</string>
	</dict>
	<key>com.yunli.YLClient1406</key>
	<dict>
		<key>loginBg</key>
		<string>default1406</string>
		<key>cid</key>
		<string>1406</string>
		<key>baiduMapKey</key>
		<string>QN7U6zcBUgseNkxRbXyQlCLXKfMVUVih</string>
	</dict>
</dict>
</plist>
